.common-select {
  display: inline-block;
  font-size: 12px;
  color: #262b39;
}

.easy-select-dropdown {
  .trigger-search-area {
    height: 32px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e0e3e6;
    cursor: pointer;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: #19224a;

    &:hover {
      border: 1px solid #4084ff;
    }

    &.is-focus {
      border: 1px solid #4084ff;
      box-shadow: 0 0 4px rgba(42, 130, 255, 0.5);
    }

    .select-info {
      width: calc(100% - 18px);
      height: max-content;
      line-height: 30px;
    }

    .text-area {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .iconxiala1 {
      font-size: 12px;
      color: #76777c;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%) scale(0.4);
      // transition: all ease-in-out .1s;

      &.is-open {
        transform: translateY(-50%) scale(0.4) rotate(-180deg);
      }
    }

    .iconqingkong1 {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }

    .filter-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }

    .hide-input {
      height: 24px;
      line-height: 24px;

      .ivu-input {
        border: none;
        background: transparent;
        color: #262b39;
        padding: 0;
        height: 24px;
        line-height: 24px;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .dropdown-menu-area {
    .search-area {
      padding: 7px 12px 4px;

      .ivu-input {
        border-radius: 15px;
        height: 26px;
        background: #fafafa;
        border: 1px solid #fff;

        &:focus {
          border-color: #4084ff;
          box-shadow: 0 0 4px rgba(42, 130, 255, 0.5);
        }

        &:hover {
          border-color: #4084ff;
        }
      }
    }

    .ivu-input-prefix,
    .ivu-input-suffix {
      width: 26px;
      height: 26px;
      color: #262b39;

      .iconsousuo4 {
        font-size: 14px;
        line-height: 26px;
      }
    }

    .ivu-input-icon {
      width: 26px;
      height: 26px;
      line-height: 26px;
    }

    .ivu-input-with-prefix {
      padding-left: 26px;
    }
  }

  .select-all {
    height: 27px;
    line-height: 27px;
    padding: 0 12px;
    cursor: pointer;
    color: #7f8999;

    .iconfont {
      margin-right: 6px;
    }
  }

  .data-container {
    .data-item {
      height: 27px;
      line-height: 27px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      cursor: pointer;
      max-width: 400px;
      color: #262b39;

      .data-label {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 0;
      }

      &:hover {
        background-color: #f6f6f6;
      }

      &.is-checked {
        color: #4084ff;
        // background-color: #f5f8ff;
      }

      &.is-disabled {
        color: rgba(25, 34, 74, 0.4);
        cursor: not-allowed;
      }
    }

    .no-data {
      color: #b9bac1;
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .easy-tree {
      padding: 0 12px;
    }
  }

  .placeholder-text {
    user-select: none;
    color: #c7ccd4 !important;
    height: 28px;
    line-height: 28px;
  }

  .single-selected-data {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .iconfont {
    font-size: 12px;

    &.iconqingkong1 {
      color: #dcdee0;
    }
  }

  .loading-content {
    text-align: center;
    margin-top: 19px;

    .circular {
      width: 26px;
      height: 26px;
      margin: 0 auto;
      animation: rotate 2s linear infinite;
      transform-origin: center center;

      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
      }
    }

    .loading-text {
      margin-top: 8px;
      margin-bottom: 6px;
    }
  }

  .select-count {
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #7f8999;
    background: #f7f8fc;
    border-radius: 0 0 4px 4px;
    padding: 0 12px;
    position: relative;
    top: 5px;
  }

  .trigger-arrow {
    display: inline-block;
    font-size: 12px;
    color: #76777c;
    transform: scale(0.4);

    &.is-open {
      transform: scale(0.4) rotate(-180deg);
    }
  }

  &.is-single {
    .trigger-search-area {
      .select-info {
        display: flex;
        align-items: center;
      }
    }
  }

  &.is-multiple {
    .trigger-search-area {
      height: auto;
      min-height: 32px;
      align-items: unset;
      max-height: 88px;
      overflow: auto;

      .select-info {
        padding: 1px 0;
      }

      .text-area {
        display: flex;
        flex-wrap: wrap;
      }

      .selected-tag {
        max-width: 100%;
        height: 24px;
        line-height: 1;
        border-radius: 2px;
        background: #eef0f8;
        display: flex;
        align-items: center;
        color: #000;
        padding: 0 4px;
        margin: 2px 4px 2px 0;

        .tag-text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .iconshanchu4 {
          color: #262b39;
          cursor: pointer;
          margin-left: 4px;
        }
      }

      .hide-input {
        height: 24px;
        margin: 2px 0;
      }

      .select-data-text {
        width: calc(100% - 32px);
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.is-collapse {
        height: 32px;

        .selected-tag {
          width: 28px;
        }

        .text-area {
          align-items: center;
          flex-wrap: nowrap;
        }
      }
    }

    .data-container {
      .data-item {
        &.is-checked {
          color: #4084ff;

          .iconfont {
            font-size: 12px;
            width: 14px;
            transform: scale(0.7);
          }

          .data-label {
            width: calc(100% - 14px);
          }
        }
      }
    }
  }

  &.is-disabled {
    .trigger-area {
      cursor: not-allowed;
      color: #c7ccd4;

      .trigger-arrow {
        color: #c7ccd4;
      }
    }

    .trigger-search-area {
      cursor: not-allowed;
      background: #f5f6f6;
      border: 1px solid #dfe3e6 !important;
      color: #c7ccd4;

      &:hover {
        border: 1px solid #dfe3e6 !important;
        box-shadow: none;
      }

      .text-area {
        color: rgba(25, 34, 74, 0.4);

        .iconshanchu4 {
          cursor: not-allowed;
        }
      }

      .selected-tag {
        background: #eef0f8;

        .tag-text {
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  &.small {
    .trigger-search-area {
      height: 24px;

      .select-info {
        line-height: 22px;
      }
    }

    &.is-multiple .trigger-search-area {
      height: auto;
      min-height: 24px;
      max-height: 64px;

      .selected-tag {
        height: 16px;
      }

      .hide-input {
        height: 20px;
        line-height: 20px;
        margin: 0;
      }

      .ivu-input-small {
        height: 20px;
        line-height: 20px;
      }

      .selected-data {
        .hide-input {
          height: 16px;
          line-height: 16px;
          margin: 2px 0;
        }

        .ivu-input-small {
          height: 16px;
          line-height: 16px;
        }
      }

      &.is-collapse {
        height: 24px;
      }
    }

    .placeholder-text {
      height: 20px;
      line-height: 20px;
    }
  }

  &.middle {
    .trigger-search-area {
      height: 28px;

      .select-info {
        line-height: 26px;
      }
    }

    &.is-multiple .trigger-search-area {
      height: auto;
      min-height: 28px;
      max-height: 76px;

      .selected-tag {
        height: 20px;
      }

      .hide-input {
        height: 26px;
        line-height: 26px;
        margin: 0;
      }

      .ivu-input-small {
        height: 26px;
        line-height: 26px;
      }

      .selected-data {
        .hide-input {
          height: 20px;
          line-height: 20px;
          margin: 2px 0;
        }

        .ivu-input-small {
          height: 20px;
        }
      }

      &.is-collapse {
        height: 28px;
      }

      .placeholder-text {
        height: 26px;
        line-height: 26px;
      }
    }
  }

  .error-msg {
    position: absolute;
    top: 0;
    padding: 7px 12px;
    line-height: 16px;
    width: 100%;
    background: rgba(255, 244, 242, 0.9);
    text-align: center;
    z-index: 1;
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }
}

.ivu-form-item-error {
  .trigger-search-area {
    border: 1px solid #ef604f;

    &:hover {
      border: 1px solid #ef604f;
    }

    &.is-focus {
      border: 1px solid #ef604f;
      box-shadow: 0 0 0 2px rgb(237 64 20 / 20%);
    }
  }
}

.primary-color {
  color: #4084ff;
}

.danger-color {
  color: #ef604f;
}

/* 滚动条样式 */
.trigger-search-area::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.trigger-search-area::-webkit-scrollbar-thumb {
  background: #eff1f3;
}

.trigger-search-area::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

.data-container::-webkit-scrollbar {
  background: transparent;
}

.data-container::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}
