/* theme color */
$--color-primary: #409eff;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

body {
  margin: 0;
}
.status-tag {
  font-size: 12px;
  line-height: 17px;
  color: #909399;
  background: rgba(144, 147, 153, 0.1);
  border: 1px solid rgba(144, 147, 153, 0.2);
  border-radius: 4px;
  display: inline-block;
  padding: 3px 6px;
  &.primary {
    color: #409eff;
    background: rgba(64, 158, 255, 0.1);
    border: 1px solid rgba(64, 158, 255, 0.2);
  }
  &.success {
    color: #67c23a;
    background: rgba(103, 194, 58, 0.1);
    border: 1px solid rgba(103, 194, 58, 0.2);
  }
  &.warning {
    color: #e6a23c;
    background: rgba(230, 162, 60, 0.1);
    border: 1px solid rgba(230, 162, 60, 0.2);
  }
  &.danger {
  }
}

.text-btn {
  font-size: 12px;
  color: #1c92ff;
  cursor: pointer;
  &:hover {
    color: #66b1ff;
  }
  & + .text-btn {
    margin-left: 10px;
  }
  &.success {
    color: #67c23a;
    &:hover {
      color: #85ce61;
    }
  }
  &.danger {
    color: #f56c6c;
    &:hover {
      color: #f78989;
    }
  }
  i {
    margin-right: 6px;
  }
}

.lucky-loading-1 {
  background: #1962ff;
  animation: LuckyLoading 1s ease-in-out infinite;
  animation-delay: 0.4s;
  width: 25px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    animation: inherit;
  }
  &:before {
    right: 50px;
    animation-delay: 0.2s;
  }
  &:after {
    left: 50px;
    animation-delay: 0.6s;
  }
}
@keyframes LuckyLoading1 {
  0%,
  100% {
    box-shadow: 0 0 0 #1962ff, 0 0 0 #1962ff;
  }
  50% {
    box-shadow: 0 -25px 0 #1962ff, 0 25px 0 #1962ff;
  }
}

.lucky-loading-2 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #6d8dff;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 50%;
    box-shadow: -20px 0 0 #6d8dff;
    animation: LuckyLoading2 2s linear infinite;
  }
  &:after {
    top: 50%;
    bottom: 0;
    animation-delay: 0.5s;
  }
}
@keyframes LuckyLoading2 {
  0%,
  100% {
    box-shadow: -20px 0 0 #40518a;
    background-color: #6d8dff;
  }
  50% {
    box-shadow: -20px 0 0 #6d8dff;
    background-color: #40518a;
  }
}
